.div-container{
  height: 100%;
  width: 100%;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  position: absolute;
}

.form{
  height: 20%;
  display: flex;
  justify-content: flex-end;
}

.charts {
  height: 80%;
}
